ci:
  autofix_prs: true
  autoupdate_schedule: quarterly

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: no-commit-to-branch
  - id: debug-statements
  - id: check-merge-conflict
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-toml

# this hook is broken on Python 3.12 because it depends on nodeenv, which is
# still using removed and deprecated parts of the Python stdlib
# see https://github.com/ekalinin/nodeenv/issues/343
# see https://github.com/ekalinin/nodeenv/issues/341
# - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
#   rev: v1.1.2
#   hooks:
#   - id: markdown-toc
#     files: README.md

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.1.9
  hooks:
  - id: ruff-format
  - id: ruff
    args: [--fix]

- repo: https://github.com/MarcoGorelli/cython-lint
  rev: v0.16.0
  hooks:
  - id: cython-lint

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.12.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
