include LICENCE
include *.md
include src/gpgi/py.typed
include src/gpgi/_lib.pyi
include src/gpgi/_lib.pyx
exclude src/gpgi/_lib.c
exclude src/gpgi/_lib.py

recursive-exclude tests *
exclude .pre-commit-config.yaml
exclude _typos.toml
exclude constraints/*
exclude requirements/*
