[build-system]
requires = [
    "setuptools>=61.2",
    "Cython>=0.29.22",
    "oldest-supported-numpy",
    "wheel",
]

[project]
name = "gpgi"
version = "0.3.0"
description = "A Generic Particle+Grid Interface"
authors = [
    { name = "C.M.T. Robert" },
]
classifiers = [
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Programming Language :: Cython",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
]
requires-python = ">=3.9"
dependencies = [
    "numpy>=1.18",
]

[project.optional-dependencies]
test = [
    "coverage[toml]>=6.5",
    "pytest>=7.0.0",
    "pytest-mpl>=0.16.1",
    "matplotlib>=3.6",
    "unyt>=2.9.2",
]

typecheck = [
    "mypy==0.971",
    "numpy~=1.23",
]

[project.readme]
file = "README.md"
content-type = "text/markdown"

[project.license]
text = "GPL-3.0"

[project.urls]
Homepage = "https://github.com/neutrinoceros/gpgi"

[tool.setuptools]
license-files = [
    "LICENSE",
]
include-package-data = false

[tool.setuptools.packages.find]
exclude = [
    "tests*",
]
namespaces = false

[tool.coverage.run]
parallel = true

[tool.coverage.report]
show_missing = true
skip_covered = true
exclude_lines = [
    # a more strict default pragma
    "\\# pragma: no cover\\b",

    # allow defensive code
    "^\\s*raise NotImplementedError\\b",

    # typing-related code
    "^if TYPE_CHECKING:",
    ": \\.\\.\\.(\\s*#.*)?$",
    "^ +\\.\\.\\.$",
    "-> ['\"]?NoReturn['\"]?:",
]

[tool.black]
target_version = ["py39",]

[tool.mypy]
python_version = "3.9"
show_error_codes = true
pretty = true
warn_return_any = true
warn_unused_configs = true
warn_unreachable = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
exclude = [
  "gpgi/lib",
]
follow_imports = "silent"

[tool.pytest]
filterwarnings = [
  "error",
]
